
<div>
  <nav style="flex: 1 1 auto;" class="row">
    <ul class="col-3">
      <li><a href="index.html">Home</a></li>
      <li soundscape="/assets/waves.mp3"><a href="trimaran/index.html">Design and building of my trimaran</a></li>
      <li><span>Keyboard related</span>
        <ul soundscape="/assets/typing.mp3">
          <li><a href="https://www.keymapper.dev">Keymap generator</a> <a href="https://github.com/tammingaj/keymap-editor">(source)</a></li>
          <li>
            <a href="miniki/index.html">
              <!--              <img src="/assets/miniki-layout.png" alt="" class="img-fluid">-->
              Miniki keyboard
            </a>
          </li>
          <li><a href="index.html">Fumble board</a></li>
        </ul>
      </li>
      <li><a href="speedometer.html">Epaper speedometer</a></li>
      <li><a href="index.html">Camper build</a></li>
      <li><a href="index.html">Photo calendar with tidal data</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
    <div id="main" class="col-3" soundscape="/assets/waves.mp3"></div>
  </nav>


  <router-outlet></router-outlet>
  <hr>

  <div class="row m-3 fixed-bottom">
    <div class="col-4">
      <a href='https://www.linkedin.com/in/jptamminga/' target='_blank'>
        <fa-icon [icon]="faLinkedin" class="float-left mr-2"></fa-icon>
        Linkedin
      </a>
    </div>
    <div class="col-4">
      <a href='https://stackoverflow.com/users/1128079/jan-peter' target='_blank'>
        <fa-icon [icon]="faStackOverflow" class="float-left mr-2"></fa-icon>
        Stackoverflow
      </a>
    </div>
    <div class="col-4">
      <a href='https://github.com/tammingaj' target='_blank'>
        <fa-icon [icon]="faGithub" class="float-left mr-2"></fa-icon>
        Github
      </a>
    </div>
  </div>
</div>



