
<div>
  <nav style="flex: 1 1 auto;" class="row">
    <ul class="col-3">
      <li><a href="index.html">Home</a></li>
      <li soundscape="/assets/waves.mp3"><a href="trimaran/index.html">Design and building of my trimaran</a></li>
      <li><span>Keyboard related</span>
        <ul soundscape="/assets/typing.mp3">
          <li><a href="https://www.keymapper.dev">Keymap generator</a> <a href="https://github.com/tammingaj/keymap-editor">(source)</a></li>
          <li>
            <a href="miniki/index.html">
              <!--              <img src="/assets/miniki-layout.png" alt="" class="img-fluid">-->
              Miniki keyboard
            </a>
          </li>
          <li><a href="index.html">Fumble board</a></li>
        </ul>
      </li>
      <li><a href="speedometer.html">Epaper speedometer</a></li>
      <li><a href="index.html">Camper build</a></li>
      <li><a href="index.html">Photo calendar with tidal data</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
    <div id="main" class="col-3" soundscape="/assets/waves.mp3"></div>
  </nav>


  <router-outlet></router-outlet>
  <hr>

  <div class="row m-3 fixed-bottom">
    <div class="col-3">
      <a href='https://www.linkedin.com/in/jptamminga/' target='_blank'>
        <fa-icon [icon]="faLinkedin" class="float-left mr-2"></fa-icon>
        Linkedin
      </a>
    </div>
    <div class="col-3">
      <a href='https://stackoverflow.com/users/1128079/jan-peter' target='_blank'>
        <fa-icon [icon]="faStackOverflow" class="float-left mr-2"></fa-icon>
        Stackoverflow
      </a>
    </div>
    <div class="col-3">
      <a href='https://github.com/tammingaj' target='_blank'>
        <fa-icon [icon]="faGithub" class="float-left mr-2"></fa-icon>
        Github
      </a>
    </div>
    <div class="col-3">
      <a href='https://medium.com/@whatnotandsome' target='_blank'>
        <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
             width="56.000000pt" height="56.000000pt" viewBox="0 0 56.000000 56.000000"
             preserveAspectRatio="xMidYMid meet" class="svg-inline--fa fa-github fa-w-16 mr-2">
          <g transform="translate(0.000000,56.000000) scale(0.100000,-0.100000)"
             fill="currentColor" stroke="none">
            <path d="M0 280 l0 -280 280 0 280 0 0 280 0 280 -280 0 -280 0 0 -280z m251
117 c48 -32 68 -91 48 -143 -17 -45 -69 -84 -111 -84 -64 0 -128 62 -128 123
0 64 62 127 126 127 17 0 46 -10 65 -23z m162 -5 c37 -41 37 -154 -1 -195 -42
-47 -96 19 -89 110 6 86 51 129 90 85z m82 -90 c0 -86 -10 -126 -25 -102 -11
17 -13 159 -4 185 14 36 29 -8 29 -83z"/>
          </g>
        </svg>
        My articles on medium.com
      </a>
    </div>
  </div>
</div>



